<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alzz.demo.repository.UserMapper">
  <resultMap id="BaseResultMap" type="com.alzz.demo.domain.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, `password`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alzz.demo.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (user_name, `password`)
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alzz.demo.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        `password`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alzz.demo.domain.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alzz.demo.domain.User">
    <!--@mbg.generated-->
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-10-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test="userName != null">
                and user_name=#{userName,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and `password`=#{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <!--根据用户id查询该用户所有角色-->
  <select id="getRolesByUserId" resultType="string" parameterType="string">
    select sr.role_value
      from user_role ur
      left join sys_role sr on ur.role_id = sr.id
    where ur.user_id = #{userId,jdbcType=VARCHAR}
      and sr.is_disable = 0
  </select>

  <select id="getPermsByUserId" resultType="string" parameterType="string">
    select distinct
      p.perm_value
      from
      sys_perm p,
      role_perm rp,
      user_role ur
    where
      p.id = rp.perm_id
      and ur.role_id = rp.role_id
      and ur.user_id = #{userId,jdbcType=VARCHAR}
      and p.is_disable = 0
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-14-->
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where id=#{id,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-14-->
  <select id="selectByUserName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_name=#{userName,jdbcType=VARCHAR}
  </select>
</mapper>